/* WDW Overrides */

/*
disneyworld.disney.go.com/star-wars-galactic-starcruiser/planning/
*/
body.gsc-theme {
    font-family: 'Din';
}
body.gsc-theme .container .title {
    font-size: 40px !important;
    line-height: 50px !important;
}
body.gsc-theme .aag .details .description {
    font-size: 18px !important;
}

body.gsc-theme finder-component-header .header .title {
    text-transform: uppercase
}

body.gsc-theme .dynamic-html.generic-text a {
    text-decoration: underline;
}
body.gsc-theme .dynamic-html.generic-text a:hover {
    color: #C85117;
}

/* ensure text doesn't push past images in generic text modules */
body.gsc-theme .dynamic-html.generic-text li {
    margin-bottom: 0 !important;
}

@media (max-width: 768px) {
    /* make mobile nav push hero content down, not overlay it */
    finder-mobile-content-navigation,
    .mobile-content-navigation .list {
        position: static !important;
    }

    /* set AAG values for mobile to look like desktop */
    body.gsc-theme .container .title {
        color: #000;
    }
    body.gsc-theme .aag .details {
        background-color: #FFF4EF !important;
        background-image: unset;
        color: #000;
    }

    body.gsc-theme finder-component-header .header .title {
        font-size: 20px;
    }
    body.gsc-theme finder-content-navigation + hr {
        display: none;
    }
}

@media (min-width: 1200px) {
    /* ensure text doesn't get too wide in text blocks */
    .generic-text-block .generic-text {
        max-width: 1000px !important;
    }
}

/* Adjusting pricing grid sizes */
.pricing-grid .pricing .card .total-stay .price {
    font-size: 24px !important;
    line-height: 36px !important;
}
.pricing-grid .pricing .packages .package .card .total-stay .price:before {
    line-height: 6px !important;
}

/*
disneyworld.disney.go.com/star-wars-galactic-starcruiser/planning/
*/